#root {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
#rootFrame {
  position: absolute;
  left: 0px;
  width: 100%;
}
#rootMarquee {
  position: absolute;
  left: 0px;
  white-space: nowrap;
}
